.rodape {
   background-color: #5068f1;
   padding: 40px 40px 40px 40px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between ;
   align-items: center;
   color: #ffffff
}

.rodape .redes-sociais img {
   margin: 12px;
   height: 32px;
   width: 32px;
}

.rodape .nome-aplicacao{
   margin: 0px 32px 0px 32px;
}